[Unit]
Description=Bot Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/patrios/Projects/thegreatestbot
ExecStart=/usr/bin/python /home/patrios/Projects/thegreatestbot/erkat_bot.py

[Install]
WantedBy=multi-user.target